Flask==3.1.2
flask-cors==6.0.1
ultralytics==8.3.219
gunicorn==23.0.0
Pillow==11.3.0
numpy==1.25.2        # pick a version that has wheels for Python 3.12
scipy==1.16.2        # last version supporting Python 3.12
torch==2.8.0
torchvision==0.23.0
gdown==5.2.0